body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
}

.labels {
    flex-grow: 1;
    margin-left: 150px;
    text-align: center;
}

.label {
    display: inline-block;
    font-weight: bold;
    margin: 0 30px;
}

.icons {
    margin-right: 20px;
    display: flex;
}

.icon {
    width: auto; 
    height: auto;
    margin-left: 30px; 
}

.icon:hover {
    filter: hue-rotate(60deg);
}